In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('../data/온라인동영상제공서비스_OTT_를_이용하여_시청한_적이_있는_방송프로그램_유형_20211224135337.csv')
data.head()
# which_contents_df =

,구분별(1),구분별(2),2018,2018.1,2018.2,2018.3,2018.4,2018.5,2018.6,2019,...,2019.4,2019.5,2019.6,2020,2020.1,2020.2,2020.3,2020.4,2020.5,2020.6
0,구분별(1),구분별(2),사례수 (명),뉴스 (%),드라마 (%),스포츠 (%),시사/교양 (%),오락/연예 (%),이중에 없음 (%),사례수 (명),...,시사/교양 (%),오락/연예 (%),이중에 없음 (%),사례수 (명),뉴스 (%),드라마 (%),스포츠 (%),시사/교양 (%),오락/연예 (%),이중에 없음 (%)
1,전체,소계,"1,565",22.5,32.6,25.9,11.4,67.4,3.1,"1,805",...,14.5,68.7,3.7,"2,175",27.8,37.2,21.8,18.9,69.8,5
2,성별,남자,842,27.9,18.8,41.3,10.2,62,3,956,...,19.2,64.1,3.9,"1,151",33.9,25.7,38.6,19.6,64.3,4.1
3,NaN,여자,723,16.1,48.8,7.8,12.7,73.7,3.3,849,...,9.2,73.9,3.4,"1,024",20.9,50.2,2.8,18,76,5.9
4,연령,10대,193,7,35.6,15,7.5,89.8,1.5,300,...,3.6,84.4,2.4,257,19,43.8,11.9,2.9,91.2,7.1

In [9]:
data.shape

(55, 23)

In [10]:
data.columns

Index(['구분별(1)', '구분별(2)', '2018', '2018.1', '2018.2', '2018.3', '2018.4',
       '2018.5', '2018.6', '2019', '2019.1', '2019.2', '2019.3', '2019.4',
       '2019.5', '2019.6', '2020', '2020.1', '2020.2', '2020.3', '2020.4',
       '2020.5', '2020.6'],
      dtype='object')